.jumbotron {
    margin-top: 50px;
    background: image("images/us1.jpeg");
}

footer {
    padding: 10px 10px 0 10px;
    background-color: powderblue; 
    margin-top: 20px;
}

.card-hotel {
    flex: 1 150px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
}

.p1 {
    color: black;
    margin: 2px 2px 2px 2px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}